{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Add User</title>
{% endblock %}

{% block content %}
<h1>Add User</h1>
  <form action="{% url 'createUser'%}" method='POST'>
    {% csrf_token %}
    <label for="first_name">First Name</label>
    <input type="text" name="first_name">
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name">
    <label for="gender">Gender</label>
    <select name="gender" id="gender">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
    <label for="height">Height(in)</label>
    <input type="number" name="height" step="any">
    <label for="weight">Weight(lbs)</label>
    <input type="number" name="weight" step="any">
    <label for="age">Age</label>
    <input type="number" name="age" step="1">
    <label for="condition">Condition</label>
    <select name="condition" id="condition">
      <option value="None">--Condition--</option>
      {% for condition in conditions%}
      <option value="{{condition.condition_type}}">{{condition.condition_type}}</option>
      {% endfor %}
    </select>
    <label for="k">Potassium(K)</label>
    <input type="number" name="k" step="any">
    <label for="phos">Phosphorus(Phos)</label>
    <input type="number" name="phos" step="any">
    <label for="na">Sodium(Na)</label>
    <input type="number" name="na" step="1">
    <label for="creatinine">Creatinine</label>
    <input type="number" name="creatinine" step="any">
    <label for="albumin">Albumin</label>
    <input type="number" name="albumin" step="any">
    <label for="bloodsugar">Blood Sugar</label>
    <input type="number" name="bloodsugar" step="1">
    <button class="button" type="submit">Create User</button>
  </form>
  <div class="factlog"></div>
{% endblock %}
