{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>New Entry</title>
{% endblock %}

{% block content %}
<h1>New Food Journal Entry</h1>
  <form action="{% url 'submitNewEntry' %}" method="POST">
    {% csrf_token %}
      <input type="hidden" id="mealID" name="mealID" value="{{mealID}}">
      <h2>Food</h2><br>
      <label for="food">Food</label>
      <input type="text" name="food">
      <label for="measurement">Measurement</label>
      <input type="text" name="measurement">
      <h2>Nutrition</h2><br>
      <a class="button" style="margin-bottom:1rem;" href="https://fdc.nal.usda.gov/" target="_blank">FoodData Central</a>
      <p>Click the button to find the nutritional data for your food!</p>
      <label for="k">Potassium(mg)</label>
      <input type="integer" name="k" step="1">
      <label for="phos">Phosphorus(mg)</label>
      <input type="integer" name="phos" step="1">
      <label for="protein">Protein(g)</label>
      <input type="integer" name="protein" step="any">
      <label for="water">Water(ml)</label>
      <input type="integer" name="water" step="any">
      <label for="na">Sodium(mg)</label>
      <input type="integer" name="na" step="1">
    <button class="button" type="submit">Save</button>
  </form>
  <div class="factlog"></div>
{% endblock %}